* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.head {
  display: flex;
  height: 734px;
  align-items: center;
  .container {
    width: 1220px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    .head_aside {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      h1 {
        font-size: 68px;
        font-weight: 700;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(33, 31, 84, 1);
        margin-bottom: 22px;
        width: 518px;
      }
      .hp {
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(110, 113, 145, 1);
        margin-bottom: 34px;
        width: 591px;
      }
      .btns {
        display: flex;
        height: 72px;
        .btn1 {
          padding: 26px 38px;
          background: rgba(0, 117, 255, 1);
          border-radius: 14px;
          border: 1px solid rgba(0, 117, 255, 1);
          color: white;
          margin-right: 28px;
        }
        .call {
          display: flex;
          align-items: center;
          .call-name {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 1.600000023841858px;
            text-align: left;
            color: rgba(110, 113, 145, 1);
            margin-left: 16px;
          }
          .call-num {
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(33, 31, 84, 1);
            margin-left: 16px;
          }
        }
      }
    }
  }
  .bg-img {
    position: absolute;
    right: 0;
  }
}
